@import "../utils/mixins.scss";

.explorer {
    text-align: center;
    & h2 {
        font-size: 32px;
    }
    & p {
        font-size: 16px;
    }
    & button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    transition: transform 200ms;
    margin-top: 18px;
    @include base-shadow;
    @include gradient;
    }
    & button:hover {
    transform: scale(1.02);
    opacity: 0.9;
    cursor: pointer;
    }
}

@media (max-width:575px){
    .explorer h2{
        font-size: 25px;

    }
}   
  
