

.explorer {
    text-align: center;
    background-color: $lightergrey;
    height: 24vh;
    & h2 {
        font-size: 32px;
        margin-top: 0px;
        padding-top: 49px;
    }
    & p {
        font-size: 16px;
    }
    & button {
    @include base-button;
    
    }
    
}

@media (max-width:575px){
    .explorer h2{
        font-size: 25px;

    }
}   
  
.loader {
    position: fixed;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: #ffff;
    opacity: 0.9;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    transform-origin: top;
    &::after {
        content:"Oh my food";
        font-size: 50px;
        font-family: "Shrikhand";
        animation:rotate-in-center 2s both;
        
    }
}


@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes rotate-in-center {
    0% {
        transform:rotate(-360deg);
        opacity:0 
    }
        100% {
            transform:rotate(0);
            opacity:1
        }
    }
    
    
