

.explorer {
    text-align: center;
    & h2 {
        font-size: 32px;
    }
    & p {
        font-size: 16px;
    }
    & button {
    @include base-button;
    
    }
    
}

@media (max-width:575px){
    .explorer h2{
        font-size: 25px;

    }
}   
  
