
@import"../utils/mixins.scss";



footer{
    background-color:$darkgrey;
    padding: 0px 40px;
    color: white;
    height: 230px;

    
    h2{
        font-family:"Shrikhand", "sanns-serif";
        padding-top: 14px;
        font-size: 30px;
    }
}