
@import"../utils/colors.scss";



footer{
    background-color:#353535;
    padding: 0px 40px;
    color: white;
    height: 230px;

    
    h2{
        font-family:"Shrikhand", "sans-serif";
        padding-top: 14px;
        font-size: 30px;
    }
}