
@import "../utils/variables.scss";
@import "../utils/colors.scss";
@import "../utils/linear-gradient.scss";

.menus {
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;

    & > h2{
        margin-bottom: 32px;
        margin-left: 35px;
    }

    &__card {
        display: flex;
        flex-direction:row;
        border-radius: 25px;
        gap: 2rem;
        flex-wrap: wrap;
        padding-right: 30px;
        padding-left: 30px;
        }  
    }        

        
.card {
    flex-grow: 1; 
    min-width: 30rem;
    background-color: white; 
    box-shadow: 6px 6px 4px #e7e7e7;
    border-radius: 15px; 
    display: flex;
    flex-direction: column; 
            
        &__image{
            height: 16rem;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            display: flex;
            }
        &__description{
            position: relative;
            display: flex;
            flex-direction: column;
            & > h3 {
                margin-left: 16px;
                margin-bottom: -10px;
                font-size: 20px;
                }
                & > p{
                margin-left: 16px;
                font-size: 15px;
        }
       
    }
}

.new{
    position: relative;
}

.new::before{
    content:"Nouveau";
    position: absolute;
    height: 40px;
    width: 80px;
    background-color:$tertiary;
    color: darken($tertiary, 50%);
    text-align: center;
    padding-top: 9px;
    right: 16px;
    top: 16px;
}

.card__description {
    i {
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 30%;
        
    }
    .fas {
        color: transparent;
        @include gradient;
        background-clip:text;
        -webkit-background-clip:text;
        opacity: 0;
        transform: all 200ms ease-in-out;
    }
    &:hover .fas {
        opacity: 1;
        transform: scale(1.2);
        cursor: pointer;
    }
}

@media (max-width:375px){
    .menus .card {
        width:175px;
        min-width: 0rem;
    }
}