


#homepage {
    
    
    .menus {
        background-color: #f6f6f6;
        display: flex;
        flex-wrap: wrap;
    
        & h2{
            margin-bottom: 32px;
            margin-left: 35px;
        }
    
        &__card {
            display: flex;
            flex-direction:row;
            border-radius: 25px;
            gap: 2rem;
            flex-wrap: wrap;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 44px;
            }  
        } 
          
    
            
    .card {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        width: 600px; 
                
            &__image{
                height: 16rem;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
                display: flex;
                }
    
            &__description{
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 30rem;
                background-color: white; 
                box-shadow: 6px 6px 4px #e7e7e7;
                border-radius: 0px 0px 15px 15px;
                &::before {
                    @include heart;
                }
                &::after {
                    @include heart ($opacity:0, $font-weight:900, $color: transparent);
                    @include gradient;
                    
                }
                &:hover::after {
                opacity: 1;
                transform: translate(-50%) scaleX(1.2) scaleY(1.2);
                }
    
                
                h3 {
                    margin-left: 16px;
                    margin-bottom: -10px;
                    font-size: 20px;
                    margin-top: 6px;
                    }
                    & p{
                    margin-top: 14px;
                    font-size: 15px;
                    margin-left: 17px;
            }
        }
    
    
    &.new{
        position: relative;
    }
    
    &.new::before{
        content:"Nouveau";
        position: absolute;
        height: 30px;
        width: 80px;
        background-color:$tertiary;
        color: darken($tertiary, 50%);
        text-align: center;
        padding-top: 9px;
        right: 16px;
        top: 16px;
    }
    
    
    
    @media all and (max-width:375px){
        .menus__card {
            width:400px;
        
        .card__ image {
            width: 20rem;
        }
        
    }
       
    }
}
}